@model IEnumerable<KLTN_Web_MoonShop.Models.Order>
@using KLTN_Web_MoonShop.Models
@{
    Layout = null;
    DBCosmeticEntities db = new DBCosmeticEntities();
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<header id="site-header">
    <div class="container">
     

        <h3><a href="/home/index" style="color:blue">   <img src="~/Asset/img/logo/logo2.jpg" height="100" width="100"/></a> &nbsp;&nbsp;Danh sách đơn đặt hàng</h3>
    </div>
</header>

<div class="container">

    <section id="cart">
        @if (Model == null)
        {
            <h3> Bạn chưa có đơn hàng nào ?</h3>
        }
        else
        {
            foreach (var item in Model)
            {
                List<OrderDetail> lst = db.OrderDetails.Where(n => n.orderID == item.orderID).ToList();
                OrderDetail fi = lst.FirstOrDefault();
                Product pro = db.Products.FirstOrDefault(n => n.productID == fi.productID);
                <article class="product">
                    <header>
                        <a class="remove" href="/order/details?id=@item.orderID&sdt=@item.phone">
                            <img src="~/Asset/img/product/@pro.productImage" alt="">

                            <h3>Xem chi tiết</h3>
                        </a>
                    </header>

                    <div class="content">

                        <h1>@pro.productName</h1>
                        <h6 style="color:@db.Status.FirstOrDefault(n => n.statusID == item.status).color">#@item.orderID &nbsp;&nbsp;&nbsp; Trạng thái:<b>@db.Status.FirstOrDefault(n => n.statusID == item.status).statusName</b></h6>
                        <h6>Số điện thoại :@item.phone</h6>
                        <h6>Địa chỉ giao:@fi.idAdd</h6>
                        @if (item.status <3)
                        {
                            <button onclick="setID(@item.orderID)" style="top: 43px;background-color:red" class="type small" data-toggle="modal" data-target="#exampleModal">Hủy đơn</button>
                        }
                        @if (item.status == 4)
                        {
                            <button onclick="setID(@item.orderID)" style="top: 43px;background-color:red" class="type small" data-toggle="modal" data-target="#exampleModal2">Trả hàng</button>
                        }
                    </div>

                    <footer class="content">
                        <span class="qt disabled">Số lượng :@lst.Count() </span>

                        <h2 class="full-price">
                            @item.money
                        </h2>

                        <h2 class="price">
                            @pro.productPrice
                        </h2>
                    </footer>
                </article>
            }
        }


    </section>

</div>
<!-- Modal -->
@using (Html.BeginForm("returnOrder", "Search",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Trả hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input name="stdkk" value="@ViewBag.sdt" hidden />
                <input name="idkk" id="idkk" hidden />
                <div class="modal-body" id="myform">
                    <div class="row">
                        <div class="col ml-5">
                            <img src="https://i.imgur.com/uBx4f4L.png" height="200">
                        </div>

                    </div>
                    <h6 class="text-muted">Lý do trả hàng</h6>
                    <textarea class="w-100" id="return" name="txtreturn" required></textarea>
                    <h6 class="text-muted">Hình ảnh đính kèm</h6>
                    <input type="file" id="img1" name="img1" accept="image/*" /><img id="hinh1" height="100" width="150" />
                    <input type="file" id="img2" name="img2" accept="image/*"/><img id="hinh2" height="100" width="150" />
                    <input type="file" id="img3" name="img3" accept="image/*"/><img id="hinh3" height="100" width="150" />
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">Đóng</a>
                    <button class="btn btn-danger" type="submit" onclick="setVa()">Trả hàng</button>
                </div>
            </div>
        </div>
    </div>

}
<script>
    function setVa() {
        document.getElementById("stdkk").value = document.getElementById("sdt").value ;
        document.getElementById("idkk").value = document.getElementById("idod").value ;

    }
    document.getElementById('img1').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById("hinh1").src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }
    document.getElementById('img2').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById("hinh2").src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }
    document.getElementById('img3').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById("hinh3").src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }
</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hủy đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myform">
                <div class="row">
                    <div class="col ml-5">
                        <img src="https://i.imgur.com/uBx4f4L.png" height="200">
                    </div>

                </div>
                <h5>Lý do hủy đơn</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Sản phẩm không phù hợp">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sản phẩm không phù hợp
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value=" Tôi tìm được sản phẩm khác tốt hơn">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Tôi tìm được sản phẩm khác tốt hơn
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked value=" Đổi ý không muốn mua nữa">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Đổi ý không muốn mua nữa
                    </label>
                </div>
                <h6 class="text-muted">Ghi chú thêm</h6>
                <textarea class="w-100" id="more"></textarea>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">Đóng</a>
                <a class="btn btn-danger" data-dismiss="modal" onclick="revokeOrder()">Hủy đơn</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<input value="@ViewBag.sdt" id="sdt" hidden />
<input id="idod" hidden />
<script>
    function setID(id) {
        document.getElementById("idod").value = id;
        document.getElementById("idkk").value = id;
    }
    function revokeOrder() {
        Swal.fire({
            title: 'Bạn có chắc chắn?',
            text: "Muốn hủy đơn hàng này!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Có!'
        }).then((result) => {
            if (result.isConfirmed) {
                var sdt = document.getElementById("sdt").value;
                var id = document.getElementById("idod").value;
                Swal.fire(
                    'Thành công!',
                    'Đơn hàng của bạn đã được hủy',
                    'success'
                )
                var thought = $('#more').val();
                var reason = $('input[name="flexRadioDefault"]:checked').val();
                setTimeout(function () { location.href = "/search/revoke?sdt=" + sdt + "&id=" + id + "&reason=" + reason + "&more=" + thought }, 2000);
                //location.href = "/search/revoke?sdt=" + sdt;
            }
        })
    }


</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function detailorder(id) {
    }
</script>
<style>
    body {
        background: #eee;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .clearfix {
        content: "";
        display: table;
        clear: both;
    }

    #site-header, #site-footer {
        background: #fff;
    }

    #site-header {
        margin: 0 0 30px 0;
    }

        #site-header h1 {
            font-size: 31px;
            font-weight: 300;
            padding: 40px 0;
            position: relative;
            margin: 0;
        }

    a {
        color: #000;
        text-decoration: none;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -ms-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear;
    }

        a:hover {
            color: #53b5aa;
        }

    #site-header h1 span {
        color: #53b5aa;
    }

        #site-header h1 span.last-span {
            background: #fff;
            padding-right: 150px;
            position: absolute;
            left: 217px;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -ms-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;
        }

        #site-header h1:hover span.last-span, #site-header h1 span.is-open {
            left: 363px;
        }

    #site-header h1 em {
        font-size: 16px;
        font-style: normal;
        vertical-align: middle;
    }

    .container {
        font-family: 'Open Sans', sans-serif;
        margin: 0 auto;
        width: 980px;
    }

    #cart {
        width: 100%;
    }

        #cart h1 {
            font-weight: 300;
        }

        #cart a {
            color: #53b5aa;
            text-decoration: none;
            -webkit-transition: color .2s linear;
            -moz-transition: color .2s linear;
            -ms-transition: color .2s linear;
            -o-transition: color .2s linear;
            transition: color .2s linear;
        }

            #cart a:hover {
                color: #000;
            }

    .product.removed {
        margin-left: 980px !important;
        opacity: 0;
    }

    .product {
        border: 1px solid #eee;
        margin: 20px 0;
        width: 100%;
        height: 195px;
        position: relative;
        -webkit-transition: margin .2s linear, opacity .2s linear;
        -moz-transition: margin .2s linear, opacity .2s linear;
        -ms-transition: margin .2s linear, opacity .2s linear;
        -o-transition: margin .2s linear, opacity .2s linear;
        transition: margin .2s linear, opacity .2s linear;
    }

        .product img {
            width: 100%;
            height: 100%;
        }

        .product header, .product .content {
            background-color: #fff;
            border: 1px solid #ccc;
            border-style: none none solid none;
            float: left;
        }

        .product header {
            background: #000;
            margin: 0 1% 20px 0;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 24%;
            height: 195px;
        }

            .product header:hover img {
                opacity: .7;
            }

            .product header:hover h3 {
                bottom: 73px;
            }

            .product header h3 {
                background: #53b5aa;
                color: #fff;
                font-size: 22px;
                font-weight: 300;
                line-height: 49px;
                margin: 0;
                padding: 0 30px;
                position: absolute;
                bottom: -50px;
                right: 0;
                left: 0;
                -webkit-transition: bottom .2s linear;
                -moz-transition: bottom .2s linear;
                -ms-transition: bottom .2s linear;
                -o-transition: bottom .2s linear;
                transition: bottom .2s linear;
            }

    .remove {
        cursor: pointer;
    }

    .product .content {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 140px;
        padding: 0 20px;
        width: 75%;
    }

    .product h1 {
        color: #53b5aa;
        font-size: 25px;
        font-weight: 300;
        margin: 17px 0 20px 0;
    }

    .product footer.content {
        height: 50px;
        margin: 6px 0 0 0;
        padding: 0;
    }

    .product footer .price {
        background: #fcfcfc;
        color: #000;
        float: right;
        font-size: 15px;
        font-weight: 300;
        line-height: 49px;
        margin: 0;
        padding: 0 30px;
    }

    .product footer .full-price {
        background: #53b5aa;
        color: #fff;
        float: right;
        font-size: 22px;
        font-weight: 300;
        line-height: 49px;
        margin: 0;
        padding: 0 30px;
        -webkit-transition: margin .15s linear;
        -moz-transition: margin .15s linear;
        -ms-transition: margin .15s linear;
        -o-transition: margin .15s linear;
        transition: margin .15s linear;
    }

    .qt, .qt-plus, .qt-minus {
        display: block;
        float: left;
    }

    .qt {
        font-size: 19px;
        line-height: 50px;
        width: 100px;
        text-align: center;
    }

    .qt-plus, .qt-minus {
        background: #fcfcfc;
        border: none;
        font-size: 30px;
        font-weight: 300;
        height: 100%;
        padding: 0 20px;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -ms-transition: background .2s linear;
        -o-transition: background .2s linear;
        transition: background .2s linear;
    }

        .qt-plus:hover, .qt-minus:hover {
            background: #53b5aa;
            color: #fff;
            cursor: pointer;
        }

    .qt-plus {
        line-height: 50px;
    }

    .qt-minus {
        line-height: 47px;
    }

    #site-footer {
        margin: 30px 0 0 0;
    }

    #site-footer {
        padding: 40px;
    }

        #site-footer h1 {
            background: #fcfcfc;
            border: 1px solid #ccc;
            border-style: none none solid none;
            font-size: 24px;
            font-weight: 300;
            margin: 0 0 7px 0;
            padding: 14px 40px;
            text-align: center;
        }

        #site-footer h2 {
            font-size: 24px;
            font-weight: 300;
            margin: 10px 0 0 0;
        }

        #site-footer h3 {
            font-size: 19px;
            font-weight: 300;
            margin: 15px 0;
        }

    .left {
        float: left;
    }

    .right {
        float: right;
    }



    .btn:hover {
        color: #fff;
        background: #429188;
    }

    .type {
        background: #fcfcfc;
        font-size: 13px;
        padding: 10px 16px;
        left: 100%;
    }

    .type, .color {
        border: 1px solid #ccc;
        border-style: none none solid none;
        position: absolute;
    }

    .color {
        width: 40px;
        height: 40px;
        right: -40px;
    }

    .red {
        background: #cb5a5e;
    }

    .yellow {
        background: #f1c40f;
    }

    .blue {
        background: #3598dc;
    }

    .minused {
        margin: 0 50px 0 0 !important;
    }

    .added {
        margin: 0 -50px 0 0 !important;
    }
</style>
<script>
    var check = false;

    function changeVal(el) {
        var qt = parseFloat(el.parent().children(".qt").html());
        var price = parseFloat(el.parent().children(".price").html());
        var eq = Math.round(price * qt * 100) / 100;

        el.parent().children(".full-price").html(eq + "€");

        changeTotal();
    }

    function changeTotal() {

        var price = 0;

        $(".full-price").each(function (index) {
            price += parseFloat($(".full-price").eq(index).html());
        });

        price = Math.round(price * 100) / 100;
        var tax = Math.round(price * 0.05 * 100) / 100
        var shipping = parseFloat($(".shipping span").html());
        var fullPrice = Math.round((price + tax + shipping) * 100) / 100;

        if (price == 0) {
            fullPrice = 0;
        }

        $(".subtotal span").html(price);
        $(".tax span").html(tax);
        $(".total span").html(fullPrice);
    }

    $(document).ready(function () {

        $(".remove").click(function () {
            var el = $(this);
            el.parent().parent().addClass("removed");
            window.setTimeout(
                function () {
                    el.parent().parent().slideUp('fast', function () {
                        el.parent().parent().remove();
                        if ($(".product").length == 0) {
                            if (check) {
                                $("#cart").html("<h1>The shop does not function, yet!</h1><p>If you liked my shopping cart, please take a second and heart this Pen on <a href='https://codepen.io/ziga-miklic/pen/xhpob'>CodePen</a>. Thank you!</p>");
                            } else {
                                $("#cart").html("< button onClick = 'window.location.href = window.location.href' > Trở lại!</button >");
                            }
                        }
                        changeTotal();
                    });
                }, 200);
        });
        function reload() {
            location.reload();
        }
        $(".qt-plus").click(function () {
            $(this).parent().children(".qt").html(parseInt($(this).parent().children(".qt").html()) + 1);

            $(this).parent().children(".full-price").addClass("added");

            var el = $(this);
            window.setTimeout(function () { el.parent().children(".full-price").removeClass("added"); changeVal(el); }, 150);
        });

        $(".qt-minus").click(function () {

            child = $(this).parent().children(".qt");

            if (parseInt(child.html()) > 1) {
                child.html(parseInt(child.html()) - 1);
            }

            $(this).parent().children(".full-price").addClass("minused");

            var el = $(this);
            window.setTimeout(function () { el.parent().children(".full-price").removeClass("minused"); changeVal(el); }, 150);
        });

        window.setTimeout(function () { $(".is-open").removeClass("is-open") }, 1200);

        //$(".btn").click(function () {
        //    check = true;
        //    $(".remove").click();
        //});
    });
</script>