@model IEnumerable<KLTN_Web_MoonShop.Models.Product>
@using KLTN_Web_MoonShop.Models;
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    DBCosmeticEntities db = new DBCosmeticEntities();
    var loaisp = db.ProductTypes.Where(n => n.isActive == 1).ToList();
    List<ProductType> lstproty = db.ProductTypes.Where(n => n.isActive == 1).ToList().Take(8).ToList();
    ProductType prolast = lstproty.LastOrDefault();
    List<ProductType> lstprotymore = db.ProductTypes.Where(n => n.isActive == 1 && n.proTypeID > prolast.proTypeID).ToList();
    List<Product> lstprod = db.Products.Where(n=>n.isActive==1).ToList();
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">

</script>
<script>
    $('#disp').click(function () {
        var array = [];
        $(".box:checked").each(function () {
            array.push($(this).val());
        });
        alert(array);
    });
    var flag1 = true;
    function show(idck, id) {

        if (flag1 == false) {
            /*$("#xxx").show();*/
            document.getElementById(id).style.visibility = "hidden";
            flag1 = true;
            document.getElementById(idck).checked = false;
        }
        else {
            document.getElementById(id).style.visibility = "visible";
            flag1 = false;
            document.getElementById(idck).checked = true;
        }


    }
</script>
<div class="wrapper">
    <div class="d-md-flex align-items-md-center">
        <div class="h3">Kết quả tìm kiếm cho từ khóa : </div>@if (ViewBag.keyword != null)
        {
            <h3  class="text-danger ml-5">@ViewBag.keyword</h3>
        }
       
    </div>
    <div class="d-lg-flex align-items-lg-center pt-2">
        <div class="form-inline d-flex align-items-center my-2 mr-lg-2 radio bg-light border"> <label class="options">Phổ biến nhất <input type="radio" name="radio"> <span class="checkmark"></span> </label> <label class="options">Rẻ nhất <input type="radio" name="radio" checked> <span class="checkmark"></span> </label> </div>
        <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2">
            <label class="tick">Tất cả <input type="checkbox"> <span class="check"></span> </label> <span class="border px-1 mx-2 mr-3 font-weight-bold count"> 2</span>
            <select name="giathanhsploc" id="country" class="bg-light">
                <option value="0">Giá tất cả</option>
                <option value="1">Giá từ thấp đến cao</option>
                <option value="2">Giá từ cao xuống thấp</option>
            </select>
        </div>
        @*<div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2">

        </div>*@
        <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2" id="disp" onclick="filterPrice()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
            </svg>
            Lọc
        </div>
        <div class="ml-auto d-flex align-items-center views">
            <span class="btn text-success"> Có tất cả</span>
            <span class="green-label px-md-2 px-1" id="countss">@Model.Count()</span>
            <span class="text-muted ml-2">
                sản phẩm phù hợp
            </span>
        </div>
    </div>
    @*---------------------filter loai san pham--------------------------*@
    <div class="d-sm-flex align-items-sm-center pt-2 clear" id="viewsearch">
        <div class="text-muted filter-label">Danh sách lọc:</div>
        <div class="d-sm-flex align-items-sm-center pt-2 clear" id="viewsearch">
            @foreach (var item in lstproty)
            {
                <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2" id="@item.proTypeID" style="display:none">
                    @item.proTypeName<span class="px-1 close" onclick="hide(@item.proTypeID)">&times;</span>
                </div>
            }
            <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2" id="xoatatca" style="display:none">
                Xóa tất cả<span class=" px-1 close" onclick="clear1()">&times;</span>
            </div>
        </div>
    </div>
    <div class="filters"> <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span></button> </div>
    <div class="content py-md-0 py-3">
        <section id="sidebar">
            <div class="py-3">
                <h5 class="font-weight-bold">Top sản phẩm</h5>
                <ul class="list-group">
                    <button onclick="loctheoma('14')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Son <span class="badge badge-primary badge-pill">@lstprod.Where(n => n.productTypeID == 14).ToList().Count()</span> </button>
                    <button onclick="loctheoma('10')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Kem <span class="badge badge-primary badge-pill">@lstprod.Where(n => n.productTypeID == 10).ToList().Count()</span> </button>
                    <button onclick="loctheoma('3')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Mặt nạ <span class="badge badge-primary badge-pill">@lstprod.Where(n => n.productTypeID == 3).ToList().Count()</span> </button>
                    <button onclick="loctheoma('2')" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category"> Dưỡng da <span class="badge badge-primary badge-pill">@lstprod.Where(n => n.productTypeID == 2).ToList().Count()</span> </button>

                </ul>
            </div>
            <div class="py-3">
                <h5 class="font-weight-bold">Loại</h5>
                <form class="brand">
                    @foreach (var item in lstproty)
                    {
                        <div class="form-inline d-flex align-items-center py-1">

                            <label class="tick">
                                <input type="checkbox" class="box" value="@item.proTypeID" name="@item.proTypeID" onclick="show(@item.proTypeID,@item.proTypeID)">@item.proTypeName
                                <span class="check"></span>
                            </label>
                            <span class="green-label px-md-2 px-1" id="countss"> @lstprod.Where(n => n.productTypeID == item.proTypeID).ToList().Count()</span>
                        </div>
                    }

                    <div id="demo" class="collapse">
                        @foreach (var item in lstprotymore)
                        {
                            <div class="form-inline d-flex align-items-center py-1">

                                <label class="tick">
                                    <input type="checkbox" class="box" value="@item.proTypeID" name="@item.proTypeID" onclick="show(@item.proTypeID,@item.proTypeID)">@item.proTypeName
                                    <span class="check"></span>
                                </label>
                                <span class="green-label px-md-2 px-1" id="countss"> @lstprod.Where(n => n.productTypeID == item.proTypeID).ToList().Count()</span>
                            </div>
                        }
                    </div>
                    <span data-toggle="collapse" data-target="#demo" style="color:blue">
                        Xem thêm
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                        </svg>
                    </span>
                </form>
            </div>
            <div class="py-3">
                <h5 class="font-weight-bold">Xuất xứ</h5>
                <form class="brand">
                    <div class="form-inline d-flex align-items-center py-1">
                        <label class="tick">
                            <input type="checkbox" class="box" value="Hàn Quốc">Hàn Quốc
                            <span class="check"></span>
                        </label>
                    </div>
                    <div class="form-inline d-flex align-items-center py-1">
                        <label class="tick">
                            <input type="checkbox" class="box" value="Nhật Bản">Nhật Bản
                            <span class="check"></span>
                        </label>
                    </div>
                    <div class="form-inline d-flex align-items-center py-1">
                        <label class="tick">
                            <input type="checkbox" class="box" value="Việt Nam">Việt Nam
                            <span class="check"></span>
                        </label>
                    </div>
                </form>
            </div>

            <div class="py-3">
                <h5 class="font-weight-bold">Khoảng giá</h5>
                <form class="rating">
                    <div class="form-inline d-flex align-items-center py-2">
                        <input type="number" class="form-control" style="width:45%;margin-left:3px" placeholder="Từ đ" id="txtgia1" />
                        <input type="number" class="form-control"  style="width:45%" placeholder="đến đ" id="txtgia2" />
                    </div>

                </form>

            </div>
            <div class="py-3">
                <button class="btn btn-danger" id="applySearch">Áp dụng</button>
            </div>
            <div class="py-3">
                <h5 class="font-weight-bold">Đánh giá</h5>
                <form class="rating">
                    <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                    <div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
                </form>
            </div>
        </section> <!-- Products Section -->
        @*//-----------------------------------------------------------san pham--------------------------------------*@
        <section id="products">
            <div class="container py-3">
                <div class="row" id="searchprodyct">
                </div>
            </div>
        </section>
    </div>
</div>
<script>
     var trHTML = $(`
 @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mt-2">
                            <div class="card" style="height:450px">
                                <a href="@Url.Action("Detail","Product",new {id=item.productID})">
                                    <img class="card-img-top" src="~/Asset/img/product/@item.productImage">
                                </a>

                                <div class="card-body">
                                    @if (@item.productName.Length > 30)
                                    {
                                        string name = @item.productName.Substring(0, 30);
                                        <h6 class="font-weight-bold pt-1">@name</h6>
                                    }
                                    else
                                    {
                                        <h6 class="font-weight-bold pt-1">@item.productName</h6>
                                    }
                                    @if (@item.productDescribe.Length > 30)
                                    {
                                        string name = @item.productDescribe.Substring(0, 30);
                                        <div class="text-muted description">@name</div>
                                    }
                                    else
                                    {
                                        <div class="text-muted description">@item.productDescribe</div>

                                    }


                                    <div class="d-flex align-items-center product"> <span class="fas fa-star" style="color:orange"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                    <div class="d-flex align-items-center justify-content-between pt-3">
                                        <div class="d-flex flex-column">
                                            <div class="h6 font-weight-bold" style="color:red">@String.Format("{0:0,0 vnđ}", item.productPrice)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
`);
    $('#searchprodyct').append(trHTML);
</script>
<link rel="stylesheet" href="~/css/product/demoww.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

<link rel="stylesheet" href="~/css/spinner.css" />
<div class="modal" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        @*<span class="fa fa-spinner fa-spin fa-3x w-100"></span>*@
        <div class="loading-box">
            <div class="loader"></div>
        </div>
    </div>
</div>
<script>
    //---------------------------------------loc ma san phâm----------------------------------------
    function loctheoma(id) {
        $('#spinnerModal').modal('show');
        $('#searchprodyct').empty();
        var gia1 = document.getElementById("txtgia1").value;
        var gia2 = document.getElementById("txtgia2").value;
        var datafilter = new Object();
        datafilter.loai =id;
        $.ajax({
            url: '/api/Filter/',
            type: 'POST',
            dataType: 'json',
            data: datafilter,
            success: function (data) {
                var slq = Object.keys(data).length;
                document.getElementById("countss").innerHTML = slq;
                $('#spinnerModal').modal('hide');
                $.each(data, function (index, item) {
                    var trHTL = $(
                        `
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mt-2">
                            <div class="card" style="height:450px">
                                <a href="/Product/Detail/`+ item.productID + `">
                                    <img class="card-img-top" src="/Asset/img/product/`+ item.productImage + `">
                                </a>

                                <div class="card-body">
                                        <h6 class="font-weight-bold pt-1">`+ item.productName + `</h6>
                                        <div class="text-muted description">`+ item.productDescribe + `</div>
                                    <div class="d-flex align-items-center product"> <span class="fas fa-star" style="color:orange"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                    <div class="d-flex align-items-center justify-content-between pt-3">
                                        <div class="d-flex flex-column">
                                            <div class="h6 font-weight-bold" style="color:red">`+ price +`</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
`

                    );
                    $('#searchprodyct').append(trHTL);
                })
            }
        });
    }
    //------------------------------------------------filter theo giá-------------------------------------------
    function filterPrice() {
        // alert("cjecl");
        var loaigia = document.getElementById("country").value;
        $('#spinnerModal').modal('show');
        $('#searchprodyct').empty();
        var datafilter = new Object();
        datafilter.typeprice = loaigia;

        $.ajax({
            url: '/filterprice/',
            type: 'POST',
            dataType: 'json',
            data: datafilter,
            success: function (data) {
                var slq = Object.keys(data).length;
                document.getElementById("countss").innerHTML = slq;
                $('#spinnerModal').modal('hide');
                $.each(data, function (index, item) {
                    var trHTL = $(
                        `
                        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mt-2">
                            <div class="card" style="height:450px">
                                <a href="/Product/Detail/`+ item.productID + `">
                                    <img class="card-img-top" src="/Asset/img/product/`+ item.productImage + `">
                                </a>

                                <div class="card-body">
                                        <h6 class="font-weight-bold pt-1">`+ item.productName + `</h6>
                                        <div class="text-muted description">`+ item.productDescribe + `</div>
                                    <div class="d-flex align-items-center product"> <span class="fas fa-star" style="color:orange"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                    <div class="d-flex align-items-center justify-content-between pt-3">
                                         Giá thành : <div class="d-flex flex-column">
                                          <div class="h6 font-weight-bold" style="color:red">`+ item.productPrice + `</div>
                                        </div>
                                    </div>
                             <div class="text-muted description">`+ 333 +` đã bán</div>
                                </div>
                            </div>
                        </div>
`

                    );
                    $('#searchprodyct').append(trHTL);
                })
            }
        });
    }
    $('#applySearch').click(function () {
        var array = [];
        $(".box:checked").each(function () {
            array.push($(this).val());
        });
       // alert(array);
        $('#spinnerModal').modal('show');
        $('#searchprodyct').empty();
        var gia1 = document.getElementById("txtgia1").value;
        var gia2 = document.getElementById("txtgia2").value;
        var datafilter = new Object();
        datafilter.loai = array.toString();
        datafilter.gia1 = gia1;
        datafilter.gia2 = gia2;
        $.ajax({
            url: '/api/Filter/',
            type: 'POST',
            dataType: 'json',
            data: datafilter,
            success: function (data) {
                var slq = Object.keys(data).length;
                document.getElementById("countss").innerHTML = slq;
                $('#spinnerModal').modal('hide');
                $.each(data, function (index, item) {
                    var trHTL = $(
                        `
<div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mt-2">
                            <div class="card" style="height:450px">
                                <a href="/Product/Detail/`+ item.productID+`">
                                    <img class="card-img-top" src="/Asset/img/product/`+item.productImage+`">
                                </a>

                                <div class="card-body">
                                        <h6 class="font-weight-bold pt-1">`+item.productName +`</h6>
                                        <div class="text-muted description">`+ item.productDescribe +`</div>
                                    <div class="d-flex align-items-center product"> <span class="fas fa-star" style="color:orange"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span style="color:orange" class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                                    <div class="d-flex align-items-center justify-content-between pt-3">
                                        <div class="d-flex flex-column">
                                            <div class="h6 font-weight-bold" style="color:red">`+item.productPrice+`</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
`

                    );
                    $('#searchprodyct').append(trHTL);
                })
            }
        });
    });
    var flag1 = true;
    function show(idck, id) {
        var check = document.getElementsByName(idck).checked;
        if (!check) {
            //alert("check"+ " idchek =" + idck+"div check ="+id);
            document.getElementById(id).style.display = "block";
            document.getElementsByName(idck).checked = true;
            document.getElementById("xoatatca").style.display = "block";
        }
        else {
            // alert("uncheck" + idck + "div check =" + id);
            document.getElementById(id).style.display = "none";
            document.getElementsByName(idck).checked = false;
            // $('.myCheckbox').prop('checked', false);
        }
    }
    function hide(id) {
        document.getElementById(id).style.display = "none";
        // document.getElementsByName(id).onclick();
        // $("#1").prop('checked', true);
    }
    function clear1() {
        document.getElementById("xoatatca").style.display = "none";
        //alert("click");
        $(".box:checked").each(function () {
            //array.push($(this).val());
            document.getElementById($(this).val()).style.display = "none";
        });

        $('input[type="checkbox"]').each(function () {
            $(this).prop("checked", false);
        });
    }
</script>