@using KLTN_Web_MoonShop.Models
@model IEnumerable<KLTN_Web_MoonShop.Models.Product>

@{
    DBCosmeticEntities db = new DBCosmeticEntities();
    Customer user = Session["user"] as Customer;
    CustomerAddress add= db.CustomerAddresses.FirstOrDefault(n => n.customerID == user.customerID&&n.isMain==1);
    }
<script>
    $(document).ready(function () {
        $("#checkoutModalm").modal("show");
    });
    function clickclose() {
        $("#checkoutModalm").modal("hide");
    }
</script>

<div class="modal fade" id="checkoutModalm" tabindex="-1" aria-labelledby="checkoutModalm" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="text-center" style="background-color:green">
                <h3 style="color:white;text-align:center">Thông tin đặt hàng</h3>
            </div>
            <div class="text-right">
                <i class="fa fa-close close" style="color:red" onclick="clickclose()">Đóng</i>
            </div>
            <div class="modal-body" style="padding-bottom:0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center ">
                                <h6 class="text-right">Thông tin cá nhân</h6>
                            </div>
                            <div class="row mt-2">
                                @if (user != null)
                                {
                                    <div class="col-md-12">
                                        <label class="labels">Họ và tên</label>
                                        <input type="text" class="form-control" placeholder="first name" value="@user.customerName">
                                    </div>
                                }

                            </div>
                            <div class="row mt-3">
                                @if (user != null)
                                {
                                    <div class="col-md-12">
                                        <label class="labels">Số điện thoại</label>
                                        <input type="text" class="form-control" placeholder="headline" value="@user.customerUserName" disabled>
                                    </div>

                                }
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="labels">Địa chỉ giao hàng</label>
                                    <div class="form-check">

                                        @if (user != null)
                                        {
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="1" checked>
                                            <label class="form-check-label" for="gridRadios1">
                                                @add.customerAdd (Mặc định)
                                                <p class="fa fa-check" style="color:green"></p>
                                                <span class="ti-pencil-alt"></span>
                                            </label>
                                        }



                                    </div>
                                    @*@Html.Action("Address", "Customer")*@
                                </div>
                                <div class="text-center">
                                    @if (user != null)
                                    {
                                        <input type="number" id="txtuserid" value="@user.customerID" hidden />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <h5 style="color:black;text-align:center">Sản phẩm</h5>
                    </div>
                    <div class="col-sm-12">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:20%">&nbsp;</th>
                                    <th style="width:20%">Sản phẩm</th>
                                    <th style="width:20%">Giá thành</th>
                                    <th style="width:20%">Số lượng</th>
                                    <th style="width:20%">Tổng tiền</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="align-middle alert border-bottom" role="alert">
                                        <td class="text-center">
                                            <img class="pic"
                                                 src="~/Asset/img/product/@item.productImage"
                                                 alt="">
                                        </td>
                                        <td>
                                            <div>
                                                @if (item.productName.Length > 30)
                                                {
                                                    string name = item.productName.Substring(0, 30);
                                                    <p class="m-0 fw-bold">@name ...</p>
                                                }
                                                else
                                                {
                                                    <p class="m-0 fw-bold">@item.productName</p>
                                                }

                                            </div>
                                        </td>
                                        <td style="width:10%">
                                            @item.productPrice
                                        </td>
                                        @foreach (var item1 in ViewBag.CartDetail)
                                        {
                                            if (item1.productID == item.productID)
                                            {
                                                <td class="d-100">
                                                    @item1.cartQuantity
                                                </td>
                                                <td>
                                                    @item1.cartMoney
                                                </td>
                                            }

                                        }


                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        Thành tiền:<h3 id="price2" style="color:red">@ViewBag.allMoney </h3>VND

                    </div>
                    <button onclick="showSwalSuccess()" data-dismiss="modal" class="btn btn-danger btn-lg mt-5 mb-0" style="border-radius:0px">Đặt hàng ngay</button>

                </div>

            </div>
        </div>
        </div>
    </div>
<input type="text" value="@ViewBag.id" id="txttringid"/>
<input type="text" value="@ViewBag.cartID" id="txtcartID" />
<input type="text" value="@user.customerID" id="txtcusID" />
<script>
    (function ($) {
        showSwalSuccess = function (id) {
            'use strict';
            swal({
                title: 'Thành công!',
                text: 'Bấm vào cá nhân để theo dõi đơn hàng',
                type: 'success',
                button: {
                    text: "Continue",
                    value: true,
                    visible: true,
                    className: "btn btn-primary"
                }

            })
                var request = new Object();
            request.cusID = document.getElementById("txtcusID").value;;
            request.lstod = document.getElementById("txttringid").value;
            request.cartID = document.getElementById("txtcartID").value;

                $.ajax({
                    url: '/api/Paymore/',
                    type: 'POST',
                    dataType: 'json',
                    data: request,
                    success: function (result) {
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
                

        }
    })(jQuery);
</script>