@using KLTN_Web_MoonShop.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DBCosmeticEntities db = new DBCosmeticEntities();
    List<Order> lstorder = db.Orders.ToList();
    List<OrderDetail> lstod = db.OrderDetails.ToList();
    //danh sách đơn hàng theo mục
    //---hôm nay
    DateTime date = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day);
    DateTime month = new DateTime(DateTime.Today.Year, DateTime.Today.Month - 1, DateTime.Today.Day);
    //doanh số
    //--hôm nay
    // List<Customer>
    List<Customer> lstcusall = db.Customers.ToList();
    long idod = ViewBag.idod;
    List<Order> lstsaletoday = lstorder.Where(n => n.orderID >= idod).ToList();
    List<Order> lstsalemonth = lstorder.Where(n => n.createDate >= month).ToList();
    List<Customer> lstcustomertoday = lstcusall.Where(n => n.isActive == 1 && n.customerID >= idod).ToList();
    List<Customer> lstcustomermoth = lstcusall.Where(n => n.isActive == 1 && n.dateCreate >= month).ToList();
    List<Customer> lstcustomerall = lstcusall.Where(n => n.isActive == 1).ToList();


    long sumsaletoday = 0;
    if (lstsaletoday != null)
    {
        foreach (var item in lstsaletoday)
        {
            sumsaletoday = sumsaletoday + (long)db.OrderDetails.Where(n => n.orderID == item.orderID).ToList().Sum(n => n.Money);
        }
    }
    long sumsalemonth = 0;
    if (lstsalemonth != null)
    {
        foreach (var item in lstsalemonth)
        {
            sumsalemonth = sumsalemonth + (long)db.OrderDetails.Where(n => n.orderID == item.orderID).ToList().Sum(n => n.Money);
        }
    }

}


<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots text-primary"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    Lọc theo
                                </li>
                                <li><a class="dropdown-item" onclick="filterOrder('Hôm nay')" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" onclick="filterOrder('Tháng này')">Tháng này</a></li>
                                <li><a class="dropdown-item" onclick="filterOrder('Năm nay')">Năm nay</a></li>
                            </ul>
                        </div>
                        <input id="ordertoday" value="@lstsaletoday.Count()" hidden />
                        <input id="ordermonth" value="@lstsalemonth.Count()" hidden />
                        <script>
                            function filterOrder(type) {
                                document.getElementById("txtorder").innerHTML = type;
                                if (type == 'Hôm nay') {
                                    document.getElementById("ordercount").innerHTML = document.getElementById("ordertoday").value;
                                }
                                else
                                    if (type == 'Tháng này') {
                                        document.getElementById("ordercount").innerHTML = document.getElementById("ordermonth").value;

                                    }
                            }
                        </script>
                        <div class="card-body">
                            <h5 class="card-title">
                                Đơn đặt <span id="txtorder" style="color:blue">
                                    | Tất cả
                                </span>
                            </h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </div>
                                <div class="ps-3">
                                    <h6 id="ordercount">@lstorder.Count()</h6>
                                    <span class="text-success small pt-1 fw-bold">Đơn đặt hàng</span> <span class="text-muted small pt-2 ps-1">Tăng</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots text-primary"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc theo</h6>
                                </li>

                                <li><a class="dropdown-item" onclick="filterSales('Hôm nay')">Hôm nay</a></li>
                                <li><a class="dropdown-item" onclick="filterSales('Tháng này')">Tháng này</a></li>
                                <li><a class="dropdown-item" onclick="filterSales('Năm nay')">Năm nay</a></li>
                            </ul>
                        </div>
                        <input id="saletoday" value="@sumsaletoday" hidden />
                        <input id="salemonth" value="@sumsalemonth" hidden />
                        <script>
                            function filterSales(type) {
                                document.getElementById("txtfiltersales").innerHTML = type;
                                if (type == 'Hôm nay') {
                                    document.getElementById("txtsumsales").innerHTML = document.getElementById("saletoday").value;
                                }
                                else
                                    if (type == 'Tháng này') {
                                        document.getElementById("txtsumsales").innerHTML = document.getElementById("salemonth").value;
                                    }
                            }
                        </script>
                        <div class="card-body">
                            <h5 class="card-title">Doanh số <span id="txtfiltersales" style="color:blue">| Tất cả</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                                    </svg>
                                </div>
                                <div class="ps-3">
                                    <h6 id="txtsumsales">@lstod.Sum(n => n.Money)</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots text-primary"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    Lọc theo
                                </li>
                                <li><a class="dropdown-item" onclick="filterCustomer('Hôm nay')">Hôm nay</a></li>
                                <li><a class="dropdown-item" onclick="filterCustomer('Tháng này')">Tháng này</a></li>
                                <li><a class="dropdown-item" onclick="filterCustomer('Năm nay')">Năm nay</a></li>
                            </ul>
                        </div>
                        <input id="txtsumcustoday" value="@lstcustomertoday.Count()" hidden />
                        <input id="txtsumcusmonth" value="@lstcustomermoth.Count()" hidden />
                        <script>
                            function filterCustomer(type) {
                                document.getElementById("txtfiltercustomer").innerHTML = type;
                                if (type == 'Hôm nay') {
                                    document.getElementById("txtsumcustomer").innerHTML = document.getElementById("txtsumcustoday").value;
                                }
                                else
                                    if (type == 'Tháng này') {
                                        document.getElementById("txtsumcustomer").innerHTML = document.getElementById("txtsumcusmonth").value;
                                    }
                            }
                        </script>
                        <div class="card-body">
                            <h5 class="card-title">Khách hàng <span id="txtfiltercustomer" style="color:blue">| Tất cả</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                    </svg>
                                </div>
                                <div class="ps-3">
                                    <h6 id="txtsumcustomer">@lstcustomerall.Count()</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">giảm</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Recent Sales -->


            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <!-- Top Selling -->
    </div>
</section>
<div class="col-12">
    <div class="card">

        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">Thống kê <span>/Hôm nay</span></h5>

            <!-- Line Chart -->
            <div id="reportsChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                            name: 'Bán hàng',
                            data: [31, 40, 28, 51, 42, 82, 56],
                        }, {
                            name: 'Doanh thu',
                            data: [11, 32, 45, 32, 34, 52, 41]
                        }, {
                            name: 'Khách hàng',
                            data: [15, 11, 32, 18, 9, 24, 11]
                        }],
                        chart: {
                            height: 350,
                            type: 'area',
                            toolbar: {
                                show: false
                            },
                        },
                        markers: {
                            size: 4
                        },
                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                        fill: {
                            type: "gradient",
                            gradient: {
                                shadeIntensity: 1,
                                opacityFrom: 0.3,
                                opacityTo: 0.4,
                                stops: [0, 90, 100]
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'smooth',
                            width: 2
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                        },
                        tooltip: {
                            x: {
                                format: 'dd/MM/yy HH:mm'
                            },
                        }
                    }).render();
                });
            </script>
            <!-- End Line Chart -->

        </div>

    </div>
</div><!-- End Reports -->
