<script>
    $(document).ready(function () {
        $("#updateProduct").modal("show");
    });
    var HideModalUpPro = function () {

        $("#updateProduct").modal("hide");

    }
</script>
@model KLTN_Web_MoonShop.Models.Product
@using (Html.BeginForm("UpdateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal" id="updateProduct" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-right">
                        <i class="fa fa-close close" onclick="HideModalUpPro()">Đóng</i>
                    </div>
                    <div class="row">
                        <section class="section">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@ViewBag.TitleProduct</h5>
                                            <form>
                                                <div class="row mb-3">
                                                    <label for="inputText" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                                                    <div class="col-sm-10">
                                                        @if (Model != null)
                                                        {
                                                            <input type="text" class="form-control" name="txttensanpham" required value="@Model.productName">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" name="txttensanpham" required>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputEmail" class="col-sm-2 col-form-label">Số lượng</label>
                                                    <div class="col-sm-4">
                                                        @if (Model != null)
                                                        {
                                                            <input type="number" class="form-control" name="txtsoluong" required value="@Model.productQuantity">
                                                        }
                                                        else
                                                        {
                                                            <input type="number" class="form-control" name="txtsoluong" required>
                                                        }

                                                    </div>
                                                    <label for="inputEmail" class="col-sm-2 col-form-label">Giá thành</label>
                                                    <div class="col-sm-4">
                                                        @if (Model != null)
                                                        {
                                                            <input type="number" class="form-control" name="txtgiathanh" required value="@Model.productPrice">
                                                        }
                                                        else
                                                        {
                                                            <input type="number" class="form-control" name="txtgiathanh" required>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputPassword" class="col-sm-2 col-form-label">Chi tiết sản phẩm</label>
                                                    <div class="col-sm-10">
                                                        @if (Model != null)
                                                        {
                                                            <textarea style="height:100px" type="text" class="form-control" name="txtchitiet" required>@Model.productDescribe</textarea>
                                                        }
                                                        else
                                                        {
                                                            <textarea type="text" class="form-control" style="height: 100px" name="txtchitiet" required />
                                                        }

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputNumber" class="col-sm-2 col-form-label">Hình ảnh</label>
                                                    <div class="col-sm-10">
                                                        @if (Model != null)
                                                        {
                                                            <input class="form-control" type="file" name="file">
                                                            <input type="text" name="txtimg" value="@Model.productImage" hidden />
                                                            <img src="~/Asset/img/product/@Model.productImage" height="100" width="100" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control" type="file" name="file" required>

                                                        }

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label">Loại sản phẩm</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-select" aria-label="Default select example" name="cbbloaisp">

                                                            <option selected value="0">Chọn loại sản phẩm</option>
                                                            @foreach (var item in ViewBag.ProductType)
                                                            {

                                                                <option value="@item.proTypeID">@item.proTypeName</option>
                                                                if (Model != null)
                                                                {
                                                                    if (Model.productTypeID == item.proTypeID)
                                                                    {
                                                                        <option selected value="@item.proTypeID">@item.proTypeName</option>
                                                                    }
                                                                }


                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputNumber" class="col-sm-2 col-form-label">Size</label>
                                                    <div class="col-sm-10">
                                                        @if (@ViewBag.ProductDetail != null)
                                                        {
                                                            <input type="text" name="txtsize" class="form-control" value="@ViewBag.ProductDetail.Size">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" name="txtsize" class="form-control">
                                                        }

                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputColor" class="col-sm-2 col-form-label">Màu sắc</label>
                                                    <div class="col-sm-10">
                                                        @if (@ViewBag.ProductDetail != null)
                                                        {
                                                            <input type="color" name="txtcolor" class="form-control form-control-color" id="exampleColorInput" value="@ViewBag.ProductDetail.Size" title="Choose your color">

                                                        }
                                                        else
                                                        {
                                                            <input type="color" name="txtcolor" class="form-control form-control-color" id="exampleColorInput" value="#4154f1" title="Choose your color">
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputColor" class="col-sm-2 col-form-label">Hình ảnh chi tiết 1</label>
                                                    <div class="col-sm-10">
                                                        @if (@ViewBag.ProductDetail != null)
                                                        {
                                                            <input class="form-control" type="file" name="img1">
                                                            <input type="text" name="txtimg1" value="@ViewBag.ProductDetail.img1" hidden />
                                                            <img src="~/Asset/img/product/@ViewBag.ProductDetail.img1" height="100" width="100" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control" type="file" name="img1" required>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputColor" class="col-sm-2 col-form-label">Hình ảnh chi tiết 2</label>
                                                    <div class="col-sm-10">
                                                        @if (@ViewBag.ProductDetail != null)
                                                        {
                                                            <input class="form-control" type="file" name="img2">
                                                            <input type="text" name="txtimg2" value="@ViewBag.ProductDetail.img2" hidden />
                                                            <img src="~/Asset/img/product/@ViewBag.ProductDetail.img2" height="100" width="100" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control" type="file" name="img2" required>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputColor" class="col-sm-2 col-form-label">Hình ảnh chi tiết 3</label>
                                                    <div class="col-sm-10">
                                                        @if (@ViewBag.ProductDetail != null)
                                                        {
                                                            <input class="form-control" type="file" name="img3">
                                                            <input type="text" class="form-control" name="txtimg3" value="@ViewBag.ProductDetail.img3" hidden />
                                                            <img src="~/Asset/img/product/@ViewBag.ProductDetail.img3" height="100" width="100" />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control" type="file" name="img3" required>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputColor" class="col-sm-2 col-form-label">Xuất xứ</label>
                                                    <div class="col-sm-10">
                                                        @if (@ViewBag.ProductDetail != null)
                                                        {
                                                            <input type="text" class="form-control" name="txtxuatxu" value="@ViewBag.ProductDetail.origin">

                                                        }
                                                        else
                                                        {
                                                            <select class="form-select" aria-label="Default select example" name="txtxuatxu">

                                                                <option selected value="Việt Nam">Xuất xứ</option>
                                                                <option value="Hàn Quốc">Hàn Quốc</option>
                                                                <option value="Hàn Quốc">Nhật Bản</option>
                                                                <option value="Hàn Quốc">Việt Nam</option>
                                                            </select>
                                                        }
                                                    </div>
                                                </div>
      
                                                <div class="row">

                                                <small>Mô tả sản phẩm </small>.
                                                <div id="editor-container">

                                                </div>

                                                <pre>
                                                <code id="output-html"></code></pre>
                                                <input id="txtmota" name="txtmotachitiet" hidden/>
                                            </div>
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                        <a class="btn btn-secondary" onclick="HideModalUpPro()">Đóng</a>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<style>
    #editor-container {
        max-height: 200px;
        height:200px;
        overflow-y: auto;
        font-size: 1rem;
    }

</style>
<script>
    // Initialize QUill editor
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
                [{ header: [1, 2, 3, 4, 5, 6, false] }],
                ['bold', 'italic', 'underline', 'strike'],
                ['image', 'code-block'],
                ['link'],
                [{ 'script': 'sub' }, { 'script': 'super' }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                ['clean']
            ]
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'  // or 'bubble'
    });


    quill.on('text-change', function (delta, source) {
        updateHtmlOutput()
    })

    // When the convert button is clicked, update output
    $('#btn-convert').on('click', () => { updateHtmlOutput() })

    // Return the HTML content of the editor
    function getQuillHtml() { return quill.root.innerHTML; }

    // Highlight code output
    function updateHighlight() { hljs.highlightBlock(document.querySelector('#output-html')) }


    function updateHtmlOutput() {
        let html = getQuillHtml();
        console.log(html);
        document.getElementById('output-html').innerText = html;
        var editor_content = quill.container.innerHTML;
        document.getElementById('txtmota').value = document.getElementById('output-html').innerText;
        updateHighlight();
    }


    updateHtmlOutput()
</script>