@model IEnumerable<KLTN_Web_MoonShop.Models.Product>
<link rel="stylesheet" href="~/css/home/product.css" />
<div class="row">
    <h2>Sản phẩm <b>về chúng tôi</b></h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <div class="cardpro mh-100 mw-100">

                <div class="text-center">
                    <a href="@Url.Action("Detail","Product",new {id=item.productID})">
                        <img src="~/Asset/img/product/@item.productImage" width="150" height="200">
                    </a>
                </div>

                @if (@item.productName.Length > 30)
                {
                    string name = @item.productName.Substring(0, 30);
                    <span>
                        @name...
                    </span>
                }
                else
                {
                    <h6 style="height:40px">
                        @item.productName
                    </h6>
                }
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>||Đã bán hơn 1000
                </ul>
                <div class="product-details">
                    <span class="font-weight-bold">Giá thành :</span>
                    <br />
                    <span style="color:red">@String.Format("{0:0,0 vnđ}", item.productPrice)</span>
                    <br />

                    <div class="buttons d-flex flex-row">
                        <div class="cartpro"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cartpro-button btn-block"><span class="dot">1</span>Thêm </button>
                    </div>

                    <div class="weight">
                        <small>Còn hàng</small>
                    </div>

                </div>



            </div>


        </div>
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {


        const cartButtons = document.querySelectorAll('.cartpro-button');

        cartButtons.forEach(button => {

            button.addEventListener('click', cartClick);

        });

        function cartClick() {
            let button = this;
            button.classList.add('clicked');
        }



    });
</script>
<style>
    i
    {
        color:orange;
    }
</style>