@model IEnumerable<KLTN_Web_MoonShop.Models.Product>
<link rel="stylesheet" href="~/css/home/product.css" />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2" >
                <div class="cardpro p-3">

                    <div class="text-center">
                        <a href="#">
                            <img src="~/Asset/img/product/@item.productImage" width="100%">
                        </a>
                    </div>

                    <div class="product-details">
                        <span class="font-weight-bold">Giá thành :</span>
                        <br />
                        <span style="color:red">@String.Format("{0:0,0 vnđ}", item.productPrice)</span>
                        <br />

                        @if (@item.productName.Length > 60)
                        {
                            string name = @item.productName.Substring(0, 60);
                            <span>
                                @name...
                            </span>
                        }
                        else
                        {
                            <h6>
                                @item.productName
                            </h6>
                        }

                        <div class="buttons d-flex flex-row">
                            <div class="cartpro"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cartpro-button btn-block"><span class="dot">1</span>Thêm </button>
                        </div>

                        <div class="weight">
                            <small>Còn hàng</small>
                        </div>

                    </div>



                </div>


            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {


        const cartButtons = document.querySelectorAll('.cartpro-button');

        cartButtons.forEach(button => {

            button.addEventListener('click', cartClick);

        });

        function cartClick() {
            let button = this;
            button.classList.add('clicked');
        }



    });
</script>