@model IEnumerable<KLTN_Web_MoonShop.Models.OrderDetail>
@using KLTN_Web_MoonShop.Models;
@{
    Layout = null;
    DBCosmeticEntities db = new DBCosmeticEntities();
    Customer user = Session["user"] as Customer;
    OrderDetail d = Model.FirstOrDefault();
    Order order = db.Orders.FirstOrDefault(n => n.orderID == d.orderID);
    List<EmployeeDetail> lstshipper = db.EmployeeDetails.Where(n => n.posID == 6).ToList();
    var giamgia = Model.Sum(n => n.price * n.Quantity) - Model.Sum(n => n.Money);
    List<image> lstimg = db.images.Where(n => n.objectID == order.orderID).ToList();
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">

</script>
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/admin">Trang chủ</a></li>
        <li><a href="/orders/waiting/@ViewBag.Name.statusID">@ViewBag.Name.statusName</a></li>
    </ul>

</div>
<style>
    /* Style the list */
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: white;
    }

        /* Display list items side by side */
        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            /* Add a slash symbol (/) before/behind each list item */
            ul.breadcrumb li + li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }

            /* Add a color to all links inside the list */
            ul.breadcrumb li a {
                color: #0275d8;
                text-decoration: none;
            }

                /* Add a color on mouse-over */
                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }
</style>
<link rel="stylesheet" href="~/css/detailsproduct.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
    <div class="text-uppercase">
        <p>Chi tiết đặt hàng</p>
    </div>
    <div class="h4">@order.createDate</div>
    <div class="pt-1">
        <p>Đơn đặt #@order.orderID hiện tại<b class="text-danger"> @ViewBag.statusOd</b></p>
    </div>
    <a class="btn close text-white" href="/Orders/Waiting/1">
        &times;
    </a>
</div>
<div class="wrapper bg-white">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr class="text-uppercase text-muted">
                    <th scope="col">Sản phẩm</th>
                    <th scope="col" class="text-right">Giá</th>
                    <th scope="col" class="text-right">Tổng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Số lượng</th>
                    <td class="text-right"><b></b></td>
                </tr>
            </tbody>
        </table>
    </div>
    @foreach (var item in Model)
    {
        Product pro = db.Products.FirstOrDefault(n => n.productID == item.productID && n.isActive == 1);
        <div class="d-flex justify-content-start align-items-center list py-1" href="/Product/Detail/@pro.productID">
            <div><b>@item.Quantity</b></div>
            <div class="mx-3">
                <img src="~/Asset/img/product/@pro.productImage"
                     alt="apple" class="rounded-circle" width="30" height="30">
            </div>
            @if (pro.productName.Length > 30)
            {
                string name = pro.productName.Substring(0, 29);
                <div class="order-item">@name ...</div>
            }
            else
            {
                <div class="order-item">@pro.productName</div>
            }
            <div class="ml-md-auto text-danger">@String.Format("{0:0,0 vnđ}", pro.productPrice)</div>
            <div class="ml-md-auto text-danger">@String.Format("{0:0,0 vnđ}", item.Money)</div>
        </div>
    }



    @if (order.status == 6)
    {
        <div class="d-flex justify-content-start align-items-center pl-3 mt-5 ">
            <div class="text-muted">Trạng thái đơn hàng</div>
            <div class="ml-auto">
                @*<img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt=""
                    width="30" height="30">*@
                <label>Trả hàng</label>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center pl-3 mt-5 ">
            <div class="text-muted">Lý do trả hàng</div>
            <div class="ml-auto">
                @*<img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt=""
                    width="30" height="30">*@
                <label>@order.reason</label>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center pl-3 mt-5 ">
            <div class="text-muted">Hình ảnh trả hàng</div>
            <div class="ml-auto">
                @if (lstimg != null)
                {
                    foreach (var item in lstimg)
                    {
                        <img src="~/Asset/img/user/@item.name" height="200" width="250" class="ml-2" />
                    }
                }
            </div>
        </div>
    }
    else
    if (order.status == 5)
    {
        <div class="pl-3 font-weight-bold mt-5">Đơn hàng đã bị hủy</div>
        <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
            <div>
                <b>#@order.orderID</b>
            </div>
            <div>@order.createDate</div>
            <div>Lý do hủy :@order.reason</div>
            <div>
                <b></b>
            </div>
        </div>
    }
    else
    {
        <div class="pt-2 border-bottom mb-3"></div>
        <div class="d-flex justify-content-start align-items-center pl-3">
            <div class="text-muted">Hình thức thanh toán</div>
            <div class="ml-auto">
                @*<img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt=""
                    width="30" height="30">*@
                <label>Thanh toán trực tiếp khi nhận hàng</label>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center py-1 pl-3">
            <div class="text-muted">Phí vận chuyển</div>
            <div class="ml-auto">
                <label class="text-primary">Miễn phí</label>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center pb-4 pl-3 border-bottom">
            <div class="text-muted">
                <button class="text-white btn"> Giảm giá</button>
            </div>
            <div class="ml-auto price" id="giamgia">
                @giamgia
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
            <div class="text-muted">
                Tổng tiền tất cả
            </div>
            <div class="ml-auto h5 text-danger">
                @String.Format("{0:0,0 vnđ}", @Model.Sum(n => n.Money))
            </div>
        </div>
        <div class="row border rounded p-1 my-3">
            <div class="col-md-6 py-3">
                <div class="d-flex flex-column align-items start">
                    <b>Địa chỉ thanh toán</b>
                    <p class="text-justify pt-2">@d.idAdd</p>
                </div>
            </div>
            <div class="col-md-6 py-3">
                <div class="d-flex flex-column align-items start">
                    <b>Địa chỉ giao hàng</b>
                    <p class="text-justify pt-2">@d.idAdd</p>
                </div>
            </div>
        </div>
        <div class="row border rounded p-1 my-3">
            <div class="col-md-6 py-3">
                <div class="d-flex flex-column align-items start">
                    <b>Giao hàng bởi</b>
                    <p class="text-justify pt-2">
                        @if (ViewBag.shipper != null)
                        {
                            @ViewBag.shipper.fullName
                        }
                    </p>
                </div>
            </div>
            <div class="col-md-6 py-3">
                <div class="d-flex flex-column align-items start">
                    <b>Thông tin</b>
                    <p class="text-justify pt-2">
                        @if (ViewBag.shipper != null)
                        {
                            @ViewBag.shipper.phone
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="pl-3 font-weight-bold">Thời gian dự kiến giao hàng</div>
        <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
            <div>
                <b>#@order.orderID</b>
            </div>
            <div>May 22, 2017</div>
            <div>Trạng thái: @ViewBag.statusOd</div>
            <div>
                <b></b>
            </div>
        </div>
    }

    <a class="btn btn-danger" href="/Customer/DetailProfile/2">Trở về</a>
</div>
<script>

</script>