@model IEnumerable<KLTN_Web_MoonShop.Models.OrderDetail>
@using KLTN_Web_MoonShop.Models;
@{
    DBCosmeticEntities db = new DBCosmeticEntities();
    Customer user = Session["user"] as Customer;
    OrderDetail d = Model.FirstOrDefault();
    Order order = db.Orders.FirstOrDefault(n => n.orderID == d.orderID);
    List<EmployeeDetail> lstshipper = db.EmployeeDetails.Where(n => n.posID == 6).ToList();
}

<script>
    $(document).ready(function () {
        $("#modalDetailOrder").modal("show");
    });
    var HideModalUpPro1 = function () {

        $("#modalDetailOrder").modal("hide");

    }
</script>
<div class="modal fade" id="modalDetailOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật đơn hàng</h5>
                <button type="button" class="close" onclick="HideModalUpPro1()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- MultiStep Form -->
                <div class="container-fluid" id="grad1">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h2><strong>Danh sách sản phẩm khách đặt</strong></h2>
                        <div class="row">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="account"><strong>Danh sách sản phẩm</strong></li>
                                    <li id="personal"><strong>Thông tin khách hàng</strong></li>
                                    <li id="payment"><strong>Đơn vị vận chuyển</strong></li>
                                    <li id="confirm"><strong>Xác nhận</strong></li>
                                </ul>
                                <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Danh sách sản phẩm</h2>
                                        <ul class="row">
                                            @foreach (var item in Model)
                                            {
                                                Product pro = db.Products.FirstOrDefault(n => n.productID == item.productID && n.isActive == 1);
                                                <li class="col-md-12">
                                                    <figure class="itemside mb-3">
                                                        <div class="aside">
                                                            <a href="@Url.Action("Detail","Product",new {id=item.productID})">
                                                                <img src="~/Asset/img/product/@pro.productImage" class="img-sm border">
                                                            </a>
                                                        </div>
                                                        <figcaption class="info align-self-center">
                                                            @if (pro.productName.Length > 30)
                                                            {
                                                                string name = pro.productName.Substring(0, 30);
                                                                <p class="title">@name</p>
                                                            }
                                                            else
                                                            {
                                                                <h6 style="height:40px">
                                                                    @pro.productName
                                                                </h6>
                                                            }
                                                            <span class="text-muted">Số lượng:@item.Quantity </span><br />
                                                            <span style="color:red">Tiền: @String.Format("{0:0,0 vnđ}", item.Money)</span>
                                                        </figcaption>
                                                    </figure>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Tiếp theo" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Thông tin giao hàng</h2>
                                        Địa chỉ giao hàng: <input type="text" name="fname" placeholder="@Model.FirstOrDefault().idAdd" />
                                        Họ tên khách hàng : <input type="text" name="lname" placeholder="@ViewBag.cus.customerName" />
                                        Số điện thoại : <input type="text" name="phno" placeholder="@ViewBag.cus.customerUserName" />
                                        Ghi chú thêm:  <input type="text" name="phno_2" placeholder="Ghi chú thêm" />
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Trở về" />
                                    <input type="button" name="next" class="next action-button" value="Tiếp theo" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">Đơn vị vận chuyển</h2>
                                        <div class="row">
                                            <div class='col text-center'>
                                                <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="">
                                                <label for="img1"  onclick="chek('Giao hàng nhanh')">
                                                    <img src="~/Asset/giaohangnhanh.jpg" alt="Image 1">
                                                    <div class="tick_container">
                                                        <div class="tick"><i class="fa fa-check"></i></div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class='col text-center'>
                                                <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="">
                                                <label for="img2"  onclick="chek('J&T')">
                                                    <img src="~/Asset/j&T.png" alt="Image 2">
                                                    <div class="tick_container">
                                                        <div class="tick"><i class="fa fa-check"></i></div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class='col text-center'>
                                                <input type="radio" name="imgbackground" id="img3" class="d-none imgbgchk" value="">
                                                <label for="img3"  onclick="chek('Việt Nam Sports')">
                                                    <img src="~/Asset/vietnamsport.jpg" alt="Image 3">
                                                    <div class="tick_container">
                                                        <div class="tick"><i class="fa fa-check"></i></div>
                                                    </div>
                                                </label>
                                            </div>
                                            <br>
                                        </div>
                                        @*<div class="radio-group">
                                            <div class='radio' id="rdoshipping" data-value="Giao hàng nhanh"><img src="~/Asset/giaohangnhanh.jpg" width="180" height="100"></div>
                                            <div class='radio' id="rdoshipping" data-value="J&T"><img src="~/Asset/j&T.png" width="180" height="100"></div>
                                            <div class='radio' id="rdoshipping" data-value="Việt Nam sport"><img src="~/Asset/vietnamsport.jpg" width="180" height="100"></div>
                                           
                                        </div>*@
                                     
                                        <label class="pay">Nhân viên vận chuyển*</label>
                                        <select class="form-select" aria-label="Default select example" id="cbbshippingname">
                                            @foreach (var nv in lstshipper)
                                            {
                                                <option value="@nv.emID">@nv.fullName - @nv.phone  </option>

                                            }
                                        </select>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Trở về" />
                                    <input type="button" name="make_payment" class="next action-button" value="Tiếp theo" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title text-center">Biên lai giao hàng !</h2>
                                        <br><br>
                                        <div class="row justify-content-center">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="pay">Trạng thái đơn hàng*</label>
                                                    <select class="form-select" aria-label="Default select example" id="cbbstatus">
                                                        @if (order.status == 1)
                                                        {
                                                            <option value="1" selected>Chờ xác nhận</option>
                                                            <option value="2">Đã xác nhận</option>
                                                        }
                                                        else
                                                            if (order.status == 2)
                                                        {
                                                            <option value="2" selected>Đã xác nhận</option>
                                                            <option value="3">Đang giao</option>
                                                        }
                                                        else
                                                            if (order.status == 3)
                                                        {
                                                            <option value="3" selected>Đang giao</option>
                                                            <option value="4">Giao thành công</option>
                                                        }
                                                        else
                                                            if (order.status == 4)
                                                        {
                                                            <option value="4" selected>Giao thành công</option>
                                                        }


                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-12">
                                                    <label class="pay">Ước tính thời gian lấy hàng*</label>
                                                    <input type="date" id="senddate" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="pay">Ước tính thời gian giao*</label>
                                                </div>
                                                <div class="col-12">
                                                    <input type="date" id="finishdate" />
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-5 text-center">
                                                <button class="btn btn-outline-success" type="button">
                                                    <img src="https://png.pngtree.com/png-vector/20190302/ourlarge/pngtree-vector-invoice-vector-icon-png-image_735689.jpg" height="50" width="50" />
                                                    In hóa đơn
                                                </button>
                                            </div>
                                            <div class="col-5 text-center">
                                                <button class="btn btn-outline-success" onclick="updateOrder(@d.orderID)" type="button">
                                                    <img src="~/Asset/img/sucess.png" height="50" width="50" />
                                                    Cập nhật
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger" onclick="HideModalUpPro1()">Đóng</button>

        </div>
    </div>
</div>
<style>
    .parent > .row {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .col img {
        height: 100px;
        width: 100%;
        cursor: pointer;
        transition: transform 1s;
        object-fit: cover;
    }

    .col label {
        overflow: hidden;
        position: relative;
    }

    .imgbgchk:checked + label > .tick_container {
        opacity: 1;
    }
    /*         aNIMATION */
    .imgbgchk:checked + label > img {
        transform: scale(1.25);
        opacity: 0.3;
    }

    .tick_container {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        cursor: pointer;
        text-align: center;
    }

    .tick {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 6px 12px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
    }

    /*Background color*/
    #grad1 {
        background-color: : #9C27B0;
        background-image: linear-gradient(120deg, #FF4081, #81D4FA);
    }

    /*form styles*/
    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px;
    }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            /*stacking fieldsets above each other*/
            position: relative;
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            /*stacking fieldsets above each other*/
            position: relative;
        }

            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }

            #msform fieldset .form-card {
                text-align: left;
                color: #9E9E9E;
            }

        #msform input, #msform textarea {
            padding: 0px 8px 4px 8px;
            border: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 16px;
            letter-spacing: 1px;
        }

            #msform input:focus, #msform textarea:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: none;
                font-weight: bold;
                border-bottom: 2px solid skyblue;
                outline-width: 0;
            }

        /*Blue Buttons*/
        #msform .action-button {
            width: 100px;
            background: skyblue;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
            }

        /*Previous Buttons*/
        #msform .action-button-previous {
            width: 100px;
            background: #616161;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

            #msform .action-button-previous:hover, #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
            }

    /*Dropdown List Exp Date*/
    select.list-dt {
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        padding: 2px 5px 3px 5px;
        margin: 2px;
    }

        select.list-dt:focus {
            border-bottom: 2px solid skyblue;
        }

    /*The background card*/
    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative;
    }

    /*FieldSet headings*/
    .fs-title {
        font-size: 25px;
        color: #2C3E50;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left;
    }

    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey;
    }

        #progressbar .active {
            color: #000000;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            float: left;
            position: relative;
        }

        /*Icons in the ProgressBar*/
        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f023";
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f007";
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f09d";
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c";
        }

        /*ProgressBar before any progress*/
        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
        }

        /*ProgressBar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1;
        }

        /*Color number of the step and the connector before it*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: skyblue;
        }

    /*Imaged Radio Buttons*/
    .radio-group {
        position: relative;
        margin-bottom: 25px;
    }

    .radio {
        display: inline-block;
        width: 204;
        height: 104;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px;
    }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
        }

    /*Fit image in bootstrap div*/
    .fit-image {
        width: 100%;
        object-fit: cover;
    }
</style>
<link rel="stylesheet" href="~/css/spinner.css" />
<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModalv1">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        @*<span class="fa fa-spinner fa-spin fa-3x w-100"></span>*@
        <div class="loading-box">
            <div class="loader"></div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<button id="btnuporrder" onclick="comfimUpdateOrder()" hidden></button>
<input type="number" id="txtOrderid" hidden />
<input type="text" id="txtshipping" value="Giao hàng nhanh" hidden />
<script>
    function chek(value) {
        document.getElementById("txtshipping").value = value;
    }
    $(document).ready(function () {
        var now = new Date();
        var month = (now.getMonth() + 1);
        var day = now.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
        $('#senddate').val(today);
        $('#finishdate').val(today);
      
    });
    function comfimUpdateOrder() {
        var orderRequest = new Object();
        orderRequest.orderID = document.getElementById("txtOrderid").value;
        orderRequest.status = document.getElementById("cbbstatus").value;
        orderRequest.senddate = document.getElementById("senddate").value;
        orderRequest.finishdate = document.getElementById("finishdate").value;
        orderRequest.cbbshippingname = document.getElementById("txtshipping").value;
        orderRequest.receiveID=  document.getElementById("cbbshippingname").value;
        $.ajax({
            url: '/api/order/',
            type: 'PUT',
            dataType: 'json',
            data: orderRequest,
            success: function (result) {
                /*location.reload();*/
                location.reload();
                Swal.fire('Lưu thành công!', '', 'success');

            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }
    function updateOrder(id) {
        $("#modalDetailOrder").modal("hide");
        Swal.fire({
            title: 'Bạn có chắc chắn muốn lưu thay đổi?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Lưu',
            denyButtonText: `Không lưu`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                document.getElementById("txtOrderid").value = id;
                document.getElementById("btnuporrder").onclick();
                /* Swal.fire('Lưu thành công!', '', 'success')*/

            } else if (result.isDenied) {
                Swal.fire('Dữ liệu vẫn được giữ nguyên', '', 'info')
            }
        })
    }
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });

        $(".submit").click(function () {
            return false;
        })

    });
</script>