@model IEnumerable<KLTN_Web_MoonShop.Models.Employee>
@using KLTN_Web_MoonShop.Models

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DBCosmeticEntities db = new DBCosmeticEntities();
    var posion = db.Positions.ToList();
    var sex = db.Sexes.ToList();
}
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick="showModalEmployee(1)">
                Thêm mới
            </button>
            <button type="button" class="btn btn-outline-success" onclick="reload()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
                Reload
            </button>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">Mã nhân viên</th>
                        <th scope="col">Tên nhân viên</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Ngày sinh</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        EmployeeDetail ed = db.EmployeeDetails.FirstOrDefault(n => n.emID == item.emID);
                        Position po = db.Positions.FirstOrDefault(n => n.posID == ed.posID);
                        <tr>

                            <th scope="row"><a href="#">@item.emID</a></th>
                            <td>@ed.fullName</td>
                            <td>
                                <img src="~/Asset/img/user/@ed.photo" height="100" width="100" />
                            </td>
                            <td>@ed.birthday</td>
                            @*<td>@po.posName</td>*@
                            <td>
                                <a class="btn btn-danger" onclick="ConfirmDelete(@item.emID)">Xóa </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" onclick="showModalEmployee(@item.emID)">Sửa </a>
                            </td>
                        </tr>





                    }
                </tbody>


            </table>

        </div>

    </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<div class="modal" id="addOrUpDateEm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addOrUpDateEm1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <label id="titleEmployee"></label>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-right">
                    <i class="fa fa-close close" style="color:red" data-dismiss="modal">Đóng</i>
                </div>

                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 p-0">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb py-3 px-3" style="background-color:white">
                                        <li class="breadcrumb-item"><a href="#">Table</a></li>
                                        <li class="breadcrumb-item"><a href="#">Nhân viên</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Dữ liệu</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-12 bg-white p-0 px-3 py-3 mb-3">
                                        <div class="d-flex flex-column align-items-center">
                                            <div id="imgavt" style="  align-items: center;">
                                                <input type="text" value="d2ce2c30c5b6348b66730acdd8560f7a.jpg" hidden id="txtimguser" name="txtimguser" />
                                                <div id="preview" style="position: relative;">
                                                    <div id="avatar" style=" background-color: antiquewhite; height: 200px; width: 200px; border: 3px solid #0af; border-radius: 50%; transition: background ease-out 200ms;"></div>
                                                    @*<button id="upload-button"
                style=" height:50px; padding: 18px; border-radius: 50%; border: none; cursor: pointer; background-color: #08f; box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); transition: background-color ease-out 120ms; position: absolute; right: -5%; bottom: 0%;"
                aria-labelledby="image"
                aria-describedby="image">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>*@
                                                <label for="inp">
                                                    Browse...
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                    </svg>
                                                </label>
                                                    <input id="inp" type="file">
                                                    <p id="b64" hidden></p>
                                                    <style>
                                                        label {
                                                            cursor: pointer;
                                                            color:blue;
                                                            /* Style as you please, it will become the visible UI component. */
                                                        }

                                                        #inp {
                                                            opacity: 0;
                                                            position: absolute;
                                                            z-index: -1;
                                                        }
                                                    </style>
                                                    
                                                </div>
                                               
                                            </div>

                                            <p class="fw-bold h4 mt-3">John Doe</p>
                                            <p class="text-muted">Full Stack Developer</p>
                                            <p class="text-muted mb-3">Soma,San Francisco, CA</p>
                                            <div class="d-flex ">
                                                <div class="btn btn-primary follow me-2">Follow</div>
                                                <div class="btn btn-outline-primary message">Message</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 bg-white p-0 px-2 pb-3 mb-3">
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fas fa-globe me-2"></span>Website</p>
                                            <a href="#">https://bootdey.com</a>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fab fa-github-alt me-2"></span>Github</p>
                                            <a href="">bootdey</a>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fab fa-twitter me-2"></span>Twitter</p>
                                            <a href=""></a>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fab fa-instagram me-2"></span>Instagram</p>
                                            <a href="">bootdey</a>
                                        </div>
                                        <div class="d-flex justify-content-between py-2 px-3">
                                            <p><span class="fab fa-facebook-f me-2"></span>facebook</p>
                                            <a href="">bootdey</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 ps-md-4">
                                <div class="row">
                                    <div class="col-12 bg-white px-3 mb-3 pb-3">
                                        <label id="noti" style="color:red"></label>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Họ</p>
                                            <input id="txtho" required type="text" style="border:none;max-width:300px" class="form-control" placeholder="Nguyễn Thiện" />
                                            <p class="py-2">Tên</p>
                                            <input id="txtten" required type="text" style="border:none;max-width:300px" class="form-control" placeholder="Quang" />
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Ngày sinh</p>
                                            <input id="txtbirthday" type="date" style="border:none;max-width:300px" class="form-control" value="">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Email</p>
                                            <input id="txtemail" type="email" style="border: none; max-width: 300px" class="form-control" placeholder="example@gmail.com" />
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Số điện thoại</p>
                                            <input id="txtsdt" required type="text" style="border: none; max-width: 300px" class="form-control" placeholder="0123456789" />
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Giới tính</p>
                                            <select class="form-select" style="max-width:300px" aria-label="Default select example" id="cbbgioitinh">

                                                @foreach (var item in sex)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Chức vụ</p>
                                            <select class="form-select" style="max-width:300px" aria-label="Default select example" id="cbbchucvu">
                                                <option selected>Chức vụ</option>
                                                @foreach (var item in posion)
                                                {
                                                    <option value="@item.posID">@item.posName</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="py-2">Địa chỉ</p>
                                            <p class="py-2 text-muted" id="lbdiachi"> Soma,San Francisco,CA</p>
                                            <a href="#" onclick="showadd()" style="color:blue">Thêm/Sửa</a>
                                        </div>
                                    </div>

                                    <div class="col-12 bg-white px-3 pb-2" id="divaddress" style="display:none">
                                        <div class="form-group mt-3">
                                            <div class="form-group">
                                                Tỉnh/ Thành Phố
                                                <select name="" id="province" class="form-control coupon">
                                                </select>
                                                <br />
                                                Quận/Huyện
                                                <select name="" id="district" class="form-control coupon">
                                                    <option value="">chọn quận/huyện</option>
                                                </select>
                                                <br />
                                                Xã/Phường
                                                <select name="" id="ward" class="form-control coupon">
                                                    <option value="">chọn xã/phường</option>
                                                </select>

                                                <br />
                                                Số nhà/Đường
                                                <input type="text" id="txtduong" class="form-control coupon" name="txtduong">
                                                <br />
                                                Địa chỉ đã chọn
                                                <input type="text" id="txt" class="form-control coupon" name="txt">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger" onclick="createOrUpdate()" type="submit">Lưu thông tin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<input id="txtcusid" value="1" hidden />
<script>
    //--------------------------------clear modal---------------------------------------------
    $('#addOrUpDateEm').on('hidden.bs.modal', function (e) {
        $(this)
            .find("input,textarea,select,p")
            .val('')
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end();
    })
    //---------------------------------------luu thong tin nhan vien-------------------------------------
    function createOrUpdate() {
        if (document.getElementById("txtho").value == "" || document.getElementById("txtten").value == "" || document.getElementById("txtsdt").value == "") {
            //Swal.fire({
            //    position: 'top-center',
            //    title: 'Lỗi',
            //    icon: 'error',
            //    text: 'Vui lòng nhập đầy đủ thông tin',
            //    showConfirmButton: false,
            //    timer: 1500
            //})
            document.getElementById("noti").innerHTML = "Vui lòng nhập đầy đủ thông tin";
        }
        else {
            var employee = new Object();
            employee.imgbase64 = document.getElementById("b64").innerHTML;
            employee.img = document.getElementById("inp").value;
            employee.emID = document.getElementById("txtcusid").value;
            employee.fullName = document.getElementById("txtho").value + " " + document.getElementById("txtten").value;
            employee.sex = document.getElementById("cbbgioitinh").value;
            employee.mail = document.getElementById("txtemail").value;
            employee.phone = document.getElementById("txtsdt").value;
            employee.posID = document.getElementById("cbbchucvu").value;
            employee.birthday = document.getElementById("txtbirthday").value;
            employee.address = document.getElementById("txtduong").value+","+ document.getElementById("txt").value;
            employee.create = create;
            $.ajax({
                url: '/api/employee/',
                type: 'POST',
                dataType: 'json',
                data: employee,
                success: function (result) {
                    Swal.fire({
                        position: 'top-center',
                        title: 'Thành công',
                        icon: 'success',
                        text: 'Thêm mới nhân viên thành công',
                        showConfirmButton: false,
                        timer: 1500
                    })
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

            $("#addOrUpDateEm").modal("hide");
        }
       
    }
    //-------------------------------------------show modal option----------------------------
    var create = true;
    function showModalEmployee(type) {
        if (type ==1) {
            document.getElementById('titleEmployee').innerHTML = 'Thêm mới nhân viên';
            $("#addOrUpDateEm").modal("show");
        }
        else {
            var employee = new Object();
            employee.emID = type;
            $.ajax({
                url: '/getemployee',
                type: 'POST',
                dataType: 'json',
                data: employee,
                success: function (data) {
                    document.getElementById("txtcusid").value=data.emID;
                    document.getElementById("txtho").value = data.fullName
                    document.getElementById("txtten").value = data.lastName;
                    if (data.sex == "Nam") {
                        document.getElementById("cbbgioitinh").selectedIndex = 1;
                    }
                    else
                        if (data.sex == "Nữ") {
                            document.getElementById("cbbgioitinh").selectedIndex = 2;
                        }
                        else
                            document.getElementById("cbbgioitinh").selectedIndex = 0;
                    document.getElementById("txtemail").value = data.mail;
                    const AVATAR = document.getElementById("avatar");
                    AVATAR.style.background = "url('/Asset/img/user/" + data.img + "') center center/cover"
                    document.getElementById("txtsdt").value = data.phone;
                    document.getElementById("cbbchucvu").selectedIndex = data.posID;
                    const myArray = data.address.split(",");
                    var tenduong = myArray[0];
                    var len = tenduong.length;
                    let diachi = data.address.substring(len+1, data.address.lenght);
                    employee.address = document.getElementById("txtduong").value = tenduong;
                    employee.address = document.getElementById("txt").value = diachi;
                    var now = new Date();

                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);

                    var today = now.getFullYear() + "-" + (month) + "-" + (day);

                    $('#txtbirthday').val(data.strDate);
                    /*document.getElementById("txtbirthday").value = data.strDate;*/
                    document.getElementById("lbdiachi").innerHTML = data.address;
                    create = false;
                    document.getElementById('titleEmployee').innerHTML = 'Sửa thông tin nhân viên';
                    $("#addOrUpDateEm").modal("show");
                    console.log("x");
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
           
        }
        function selectElement(id, valueToSelect) {
            let element = document.getElementById(id);
            element.value = valueToSelect;
        }
    }
 
    //----------------------------------------------------api dia chi-----------------------------------------
    const host = "https://provinces.open-api.vn/api/";
    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "province");
            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "district");
            });
    }
    var callApiWard = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "ward");
            });
    }

    var renderData = (array, select) => {
        let row = ' <option disable value="">chọn</option>';
        array.forEach(element => {
            row += `<option value="${element.code}">${element.name}</option>`
        });
        document.querySelector("#" + select).innerHTML = row
    }

    $("#province").change(() => {
        callApiDistrict(host + "p/" + $("#province").val() + "?depth=2");
        printResult();
    });
    $("#district").change(() => {
        callApiWard(host + "d/" + $("#district").val() + "?depth=2");
        printResult();
    });
    $("#ward").change(() => {
        printResult();
    })
    var duong = document.getElementById("txtduong").value;
    var printResult = () => {
        if ($("#district").val() != "" && $("#province").val() != "" &&
            $("#ward").val() != "") {
            let result = $("#province option:selected").text() +
                " | " + $("#district option:selected").text() + " | " +
                $("#ward option:selected").text();

            $("#result").text(result)

            var diachi = result;
            document.getElementById("txt").value = $("#ward option:selected").text() + "," + $("#district option:selected").text() + "," + $("#province option:selected").text();



        }

    }
    //-------------------------------showpanel address--------------------------------------------
    function showadd() {
        var x = document.getElementById("divaddress");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    //-------------------------------------------reload-----------------------------------
    function reload() {
        location.reload();
    }
    //-----------------------------------------hinhanh---------------------------------
    function readFile() {

        if (!this.files || !this.files[0]) return;

        const FR = new FileReader();

        FR.addEventListener("load", function (evt) {
            const AVATAR = document.getElementById("avatar");
            AVATAR.style.background = "url('" + evt.target.result + "') center center/cover"
            document.querySelector("#avatar").src = evt.target.result;
            document.querySelector("#b64").textContent = evt.target.result;
        });

        FR.readAsDataURL(this.files[0]);

    }
    document.querySelector("#inp").addEventListener("change", readFile);

    //document.getElementById('save').style.visibility = 'hidden';
    //var imgg = document.getElementById('txtimguser').value;
    //const save_button = document.getElementById("save");
    //const UPLOAD_BUTTON = document.getElementById("upload-button");
    //const FILE_INPUT = document.querySelector("input[type=file]");
    //const AVATAR = document.getElementById("avatar");
    //AVATAR.style.background = "url('/Asset/img/user/" + imgg + "') center center/cover"
    //UPLOAD_BUTTON.addEventListener("click", () => FILE_INPUT.click());
    //FILE_INPUT.addEventListener("change", event => {
    //    const file = event.target.files[0];
    //    const reader = new FileReader();
    //    reader.readAsDataURL(file);
    //    reader.onloadend = () => {
    //        AVATAR.setAttribute("aria-label", file.name);
    //        AVATAR.style.background = `url(${reader.result}) center center/cover`;
    //        document.getElementById('save').style.visibility = 'visible';
    //        var url = "/api/Image/";
    //        /* var data = new FormData(document.getElementById("form"));*/
    //        fetch(url, {
    //            method: "POST",
    //            data: "1"
    //        });
    //    };
    //});
</script>
<style>
    .breadcrumb {
        background-color: #c5cee4;
    }

        .breadcrumb a {
            text-decoration: none;
        }

    .container {
        max-width: 1000px;
        padding: 0;
    }

    p {
        margin: 0;
    }

    .d-flex a {
        text-decoration: none;
        color: #686868;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .fab.fa-twitter {
        color: #8ab7f1;
    }

    .fab.fa-instagram {
        color: #E1306C;
    }

    .fab.fa-facebook-f {
        color: #5999ec;
    }
</style>
