@model IEnumerable<KLTN_Web_MoonShop.Models.Product>
@using KLTN_Web_MoonShop.Models

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    DBCosmeticEntities db = new DBCosmeticEntities();
    var posion = db.Positions.ToList();
}
<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Recent Sales <span>| Today</span></h5>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEmployee">
                Thêm mới
            </button>
            <a class="btn btn-outline-success" style="color:blue" onclick="reload()">
                Reload
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                </svg>
            </a>
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th scope="col">Mã nhân viên</th>
                        <th scope="col">Tên nhân viên</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>

                            <th scope="row"><a href="#">@item.productID</a></th>
                            <td>@item.productName</td>
                            <td>
                                <a href="#" onclick="ConfirmUpdate(@item.productID)" class="text-primary">
                                    <img src="~/Asset/img/product/@item.productImage" height="100" width="100" />
                                </a>
                            </td>
                            <td>@item.productPrice</td>

                            <td>
                                <a class="btn btn-danger" onclick="ConfirmDelete(@item.productID)">Xóa </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" onclick="ConfirmUpdate(@item.productID)">Sửa </a>
                            </td>
                        </tr>





                    }
                </tbody>


            </table>

        </div>

    </div>
</div>
<style>
</style>
<!-- Button trigger modal -->

<div class="modal" id="modalEmployee" data-keyboard="false" tabindex="-1" aria-labelledby="modalEmployee" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-right">
                    <i class="fa fa-close close" onclick="HideModalUpPro()">Đóng</i>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 p-0">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb py-3 px-3">
                                        <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
                                        <li class="breadcrumb-item"><a href="#">Nhân viên</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Dữ liệu</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-12 bg-white p-0 px-3 py-3 mb-3">
                                        <div class="d-flex flex-column align-items-center">
                                            <div id="imgavt" style="  align-items: center;">
                                                <input type="text" value="d2ce2c30c5b6348b66730acdd8560f7a.jpg" hidden id="txtimguser" name="txtimguser" />
                                                <div id="preview" style="position: relative;">
                                                    <div id="avatar" style=" background-color: antiquewhite; height: 200px; width: 200px; border: 3px solid #0af; border-radius: 50%; transition: background ease-out 200ms;"></div>
                                                    <button id="upload-button"
                                                            style=" height:50px; padding: 18px; border-radius: 50%; border: none; cursor: pointer; background-color: #08f; box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); transition: background-color ease-out 120ms; position: absolute; right: -5%; bottom: 0%;"
                                                            aria-labelledby="image"
                                                            aria-describedby="image">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                        </svg>
                                                    </button>

                                                </div>
                                                @using (Html.BeginForm("img", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <input type="file" name="image" id="image" accept="image/*" style="display: none" />
                                                    <button type="submit" class="btn btn-success" id="save">Lưu</button>
                                                }
                                            </div>
                                            <p class="fw-bold h4 mt-3">John Doe</p>
                                            <p class="text-muted">Full Stack Developer</p>
                                            <p class="text-muted mb-3">Soma,San Francisco, CA</p>
                                            <div class="d-flex ">
                                                <div class="btn btn-primary follow me-2">Follow</div>
                                                <div class="btn btn-outline-primary message">Message</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 bg-white p-0 px-2 pb-3 mb-3">
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fas fa-globe me-2"></span>Website</p>
                                            <a href="#">https://bootdey.com</a>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fab fa-github-alt me-2"></span>Github</p>
                                            <a href="">bootdey</a>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fab fa-twitter me-2"></span>Twitter</p>
                                            <a href=""></a>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-2 px-3">
                                            <p><span class="fab fa-instagram me-2"></span>Instagram</p>
                                            <a href="">bootdey</a>
                                        </div>
                                        <div class="d-flex justify-content-between py-2 px-3">
                                            <p><span class="fab fa-facebook-f me-2"></span>facebook</p>
                                            <a href="">bootdey</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 ps-md-4">
                                <div class="row">
                                    <label style="color:blue">Thông tin cá nhân</label>
                                    <div class="col-12 bg-white px-3 mb-3 pb-3">
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Họ và tên</p>
                                            <input type="text" style="max-width:300px;min-width:200px" class="form-control ml-4" placeholder="Nguyễn Thiện Quang" />
                                        </div>
                                        <div class="d-flex  border-bottom">
                                            <p class="py-2">Giới tính</p>
                                            <select class="form-select" style="max-width:100px;margin-left:40px" aria-label="Default select example">
                                                <option selected>Giới tính</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>

                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">Email</p>
                                            <input type="text" style="max-width:300px;min-width:200px" class="form-control ml-4" placeholder="email@gmail.com" />
                                            @*<p class="py-2 text-muted">fip@jukmuh.al</p>*@
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">SDT</p>
                                            <input type="text" style="max-width:300px;min-width:50px" class="form-control ml-4" placeholder="012345678" />
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between border-bottom">
                                            <p class="py-2">CMND</p>
                                            <input type="text" style="max-width:300px;min-width:50px" class="form-control ml-4" placeholder="email@gmail.com" />
                                        </div>
                                        <div class="d-flex">
                                            <p class="py-2">Chức vụ</p>
                                            <select class="form-select" style="max-width:200px;margin-left:40px" aria-label="Default select example">
                                                <option selected>Chức Vụ</option>
                                                @if (posion != null)
                                                {
                                                    foreach (var item in posion)
                                                    {
                                                        <option value="@item.posID">@item.posName</option>
                                                        
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="Nam">Nam</option>
                                                    <option value="Nữ">Nữ</option>
                                                }


                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p class="py-2">Địa chỉ hiện tại</p>
                                            <p class="py-2 text-muted"> Soma,San Francisco,CA</p>
                                            <br />
                                            <a href="#" class="text-primary" onclick="myFunction()">Thêm/đổi địa chỉ</a>
                                        </div>
                                    </div>
                                    <script>
                                        function myFunction() {
                                            var x = document.getElementById("divadd");
                                            if (x.style.display === "none") {
                                                x.style.display = "block";
                                            } else {
                                                x.style.display = "none";
                                            }
                                        }
                                    </script>
                                    <div class="col-12 bg-white px-3 pb-2" id="divadd" style="display:none">
                                        <h6 class="d-flex align-items-center mb-3 fw-bold py-3">
                                            <i class="text-info me-2">Địa chỉ của bạn</i>
                                        </h6>
                                        <div class="form-group mt-3">
                                            <div class="form-group">
                                                Tỉnh/ Thành Phố
                                                <select name="" id="province" class="form-control coupon">
                                                </select>
                                                <br />
                                                Quận/Huyện
                                                <select name="" id="district" class="form-control coupon">
                                                    <option value="">chọn quận/huyện</option>
                                                </select>
                                                <br />
                                                Xã/Phường
                                                <select name="" id="ward" class="form-control coupon">
                                                    <option value="">chọn xã/phường</option>
                                                </select>

                                                <br />
                                                Số nhà/Đường
                                                <input type="text" id="txtduong" class="form-control coupon" name="txtduong">
                                                <br />
                                                Địa chỉ đã chọn
                                                <input type="text" id="txt" class="form-control coupon" name="txt">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger">Lưu</button>
                                </div>
                               
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <script>
        function showadd() {
            document.getElementById('divadd').style.visibility = 'hidden';
        }

        //--------------------------------------------------dia chi------------------------------------------------
        const host = "https://provinces.open-api.vn/api/";
        var callAPI = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data, "province");
                });
        }
        callAPI('https://provinces.open-api.vn/api/?depth=1');
        var callApiDistrict = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.districts, "district");
                });
        }
        var callApiWard = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.wards, "ward");
                });
        }

        var renderData = (array, select) => {
            let row = ' <option disable value="">chọn</option>';
            array.forEach(element => {
                row += `<option value="${element.code}">${element.name}</option>`
            });
            document.querySelector("#" + select).innerHTML = row
        }

        $("#province").change(() => {
            callApiDistrict(host + "p/" + $("#province").val() + "?depth=2");
            printResult();
        });
        $("#district").change(() => {
            callApiWard(host + "d/" + $("#district").val() + "?depth=2");
            printResult();
        });
        $("#ward").change(() => {
            printResult();
        })
        var duong = document.getElementById("txtduong").value;
        var printResult = () => {
            if ($("#district").val() != "" && $("#province").val() != "" &&
                $("#ward").val() != "") {
                let result = $("#province option:selected").text() +
                    " | " + $("#district option:selected").text() + " | " +
                    $("#ward option:selected").text();

                $("#result").text(result)

                var diachi = result;
                document.getElementById("txt").value = $("#ward option:selected").text() + "," + $("#district option:selected").text() + "," + $("#province option:selected").text();



            }

        }
        //-----------------------------------------luu hinh anh-------------------------------------------
        document.getElementById('save').style.visibility = 'hidden';
        var imgg = document.getElementById('txtimguser').value;
        const save_button = document.getElementById("save");
        const UPLOAD_BUTTON = document.getElementById("upload-button");
        const FILE_INPUT = document.querySelector("input[type=file]");
        const AVATAR = document.getElementById("avatar");
        AVATAR.style.background = "url('/Asset/img/user/" + imgg + "') center center/cover"
        UPLOAD_BUTTON.addEventListener("click", () => FILE_INPUT.click());
        FILE_INPUT.addEventListener("change", event => {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = () => {
                AVATAR.setAttribute("aria-label", file.name);
                AVATAR.style.background = `url(${reader.result}) center center/cover`;
                document.getElementById('save').style.visibility = 'visible';
                var url = "/api/Image/";
                /* var data = new FormData(document.getElementById("form"));*/
                fetch(url, {
                    method: "POST",
                    data: "1"
                });
            };
        });

        //-------------------------------------reloadpage---------------------------------------------
        function reload() {
            location.reload();
        }
    </script>


    <style>
            /*   ----------------------------------------------------------------hinh anh---------------------------------------

        */
            .form-control:focus {
                box-shadow: none;
                border-color: #BA68C8;
            }

            .profile-button {
                background: #BA68C8;
                box-shadow: none;
                border: none;
            }

                .profile-button:hover {
                    background: #682773;
                }

                .profile-button:focus {
                    background: #682773;
                    box-shadow: none;
                }

                .profile-button:active {
                    background: #682773;
                    box-shadow: none;
                }

            .back:hover {
                color: #682773;
                cursor: pointer;
            }

            .labels {
                font-size: 11px;
            }

            .add-experience:hover {
                background: #BA68C8;
                color: #fff;
                cursor: pointer;
                border: solid 1px #BA68C8;
            }

            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }

            body {
                background-color: #e2e8f0;
                padding: 20px;
            }

            .breadcrumb {
                background-color: #c5cee4;
            }

                .breadcrumb a {
                    text-decoration: none;
                }

            .container {
                max-width: 1000px;
                padding: 0;
            }

            p {
                margin: 0;
            }

            .d-flex a {
                text-decoration: none;
                color: #686868;
            }

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }

            .fab.fa-twitter {
                color: #8ab7f1;
            }

            .fab.fa-instagram {
                color: #E1306C;
            }

            .fab.fa-facebook-f {
                color: #5999ec;
            }
    </style>
