@model IEnumerable<KLTN_Web_MoonShop.Models.OrderDetail>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
      
    </tr>
}

</table>
